[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = A game made with the unity engine.
[access "refs/*"]
	owner = group user/Julien Lam (CuleDood117)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Julien Lam (CuleDood117)
	label-Verified = -1..+1 group user/Julien Lam (CuleDood117)
	push = group user/Julien Lam (CuleDood117)
	read = group user/Julien Lam (CuleDood117)
	rebase = group user/Julien Lam (CuleDood117)
	removeReviewer = group user/Julien Lam (CuleDood117)
	submit = group user/Julien Lam (CuleDood117)
[access "refs/heads/*"]
	create = group user/Julien Lam (CuleDood117)
	push = +force group user/Julien Lam (CuleDood117)
	pushMerge = group user/Julien Lam (CuleDood117)
	read = group user/Julien Lam (CuleDood117)
[access "refs/tags/*"]
	push = group user/Julien Lam (CuleDood117)
	push = +force group user/Julien Lam (CuleDood117)
